* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: linear-gradient(135deg, #f9d976, #f39f86);
    color: #222;
}

.container {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 350px;
    border: 2px solid;
    background: grey;
    border-radius: 20px;
}

.corpo {
    background-color: #8FABD4;
    border: 2px solid;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    width: 300px;
}

#watch {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    padding: 10px 20px;
}

.contador {
    border: 2px solid;
    border-radius: 45px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #5187ea, #2a5298);
}

.container button {
    height: 2.3em;
    width: 5.5em;
    border: none;
    color: black;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 0px 3px grey;
}

.init-btn {
    background-color: #84994F;
}

.pause-btn {
    background-color: orange;
}

.stop-btn {
    background-color: red;
}

.container button:hover {
    opacity: 0.8s;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.container button:active {
    transform: scale(0.95);
}

@media(max-width:400px) {
    .container {
        width: 90%;
    }

    .corpo {
        width: 90%;
        padding: 10px;
    }

    #watch {
        font-size: 2em;
    }
}